*.v2
*.v1
.vs
ExampleMod/bin/Debug/netstandard2.0/UnityEngine.XRModule.dll
ExampleMod/bin/Debug/netstandard2.0/UnityEngine.WindModule.dll
ExampleMod/bin/Debug/netstandard2.0/UnityEngine.VRModule.dll
ExampleMod/bin/Debug/netstandard2.0/UnityEngine.VirtualTexturingModule.dll
ExampleMod/bin/Debug/netstandard2.0/UnityEngine.VideoModule.dll
ExampleMod/bin/Debug/netstandard2.0/UnityEngine.VFXModule.dll
ExampleMod/bin/Debug/netstandard2.0/UnityEngine.VehiclesModule.dll
ExampleMod/bin/Debug/netstandard2.0/UnityEngine.UnityWebRequestWWWModule.dll
ExampleMod/bin/Debug/netstandard2.0/UnityEngine.UnityWebRequestTextureModule.dll
ExampleMod/bin/Debug/netstandard2.0/UnityEngine.UnityWebRequestModule.dll
ExampleMod/bin/Debug/netstandard2.0/UnityEngine.UnityWebRequestAudioModule.dll
ExampleMod/bin/Debug/netstandard2.0/UnityEngine.UnityWebRequestAssetBundleModule.dll
ExampleMod/bin/Debug/netstandard2.0/UnityEngine.UnityCurlModule.dll
ExampleMod/bin/Debug/netstandard2.0/UnityEngine.UnityConnectModule.dll
ExampleMod/bin/Debug/netstandard2.0/UnityEngine.UnityAnalyticsModule.dll
ExampleMod/bin/Debug/netstandard2.0/UnityEngine.UNETModule.dll
ExampleMod/bin/Debug/netstandard2.0/UnityEngine.UIModule.dll
ExampleMod/bin/Debug/netstandard2.0/UnityEngine.UIElementsNativeModule.dll
ExampleMod/bin/Debug/netstandard2.0/UnityEngine.UIElementsModule.dll
ExampleMod/bin/Debug/netstandard2.0/UnityEngine.UI.dll
ExampleMod/bin/Debug/netstandard2.0/UnityEngine.TLSModule.dll
ExampleMod/bin/Debug/netstandard2.0/UnityEngine.TilemapModule.dll
ExampleMod/bin/Debug/netstandard2.0/UnityEngine.TextRenderingModule.dll
ExampleMod/bin/Debug/netstandard2.0/UnityEngine.TextCoreModule.dll
ExampleMod/bin/Debug/netstandard2.0/UnityEngine.TerrainPhysicsModule.dll
ExampleMod/bin/Debug/netstandard2.0/UnityEngine.TerrainModule.dll
ExampleMod/bin/Debug/netstandard2.0/UnityEngine.SubsystemsModule.dll
ExampleMod/bin/Debug/netstandard2.0/UnityEngine.StreamingModule.dll
ExampleMod/bin/Debug/netstandard2.0/UnityEngine.SpriteShapeModule.dll
ExampleMod/bin/Debug/netstandard2.0/UnityEngine.SpriteMaskModule.dll
ExampleMod/bin/Debug/netstandard2.0/UnityEngine.SharedInternalsModule.dll
ExampleMod/bin/Debug/netstandard2.0/UnityEngine.ScreenCaptureModule.dll
ExampleMod/bin/Debug/netstandard2.0/UnityEngine.PhysicsModule.dll
ExampleMod/bin/Debug/netstandard2.0/UnityEngine.Physics2DModule.dll
ExampleMod/bin/Debug/netstandard2.0/UnityEngine.PerformanceReportingModule.dll
ExampleMod/bin/Debug/netstandard2.0/UnityEngine.ParticleSystemModule.dll
ExampleMod/bin/Debug/netstandard2.0/UnityEngine.LocalizationModule.dll
ExampleMod/bin/Debug/netstandard2.0/UnityEngine.JSONSerializeModule.dll
ExampleMod/bin/Debug/netstandard2.0/UnityEngine.InputModule.dll
ExampleMod/bin/Debug/netstandard2.0/UnityEngine.InputLegacyModule.dll
ExampleMod/bin/Debug/netstandard2.0/UnityEngine.IMGUIModule.dll
ExampleMod/bin/Debug/netstandard2.0/UnityEngine.ImageConversionModule.dll
ExampleMod/bin/Debug/netstandard2.0/UnityEngine.GridModule.dll
ExampleMod/bin/Debug/netstandard2.0/UnityEngine.GameCenterModule.dll
ExampleMod/bin/Debug/netstandard2.0/UnityEngine.DSPGraphModule.dll
ExampleMod/bin/Debug/netstandard2.0/UnityEngine.dll
ExampleMod/bin/Debug/netstandard2.0/UnityEngine.DirectorModule.dll
ExampleMod/bin/Debug/netstandard2.0/UnityEngine.CrashReportingModule.dll
ExampleMod/bin/Debug/netstandard2.0/UnityEngine.CoreModule.dll
ExampleMod/bin/Debug/netstandard2.0/UnityEngine.ClusterRendererModule.dll
ExampleMod/bin/Debug/netstandard2.0/UnityEngine.ClusterInputModule.dll
ExampleMod/bin/Debug/netstandard2.0/UnityEngine.ClothModule.dll
ExampleMod/bin/Debug/netstandard2.0/UnityEngine.AudioModule.dll
ExampleMod/bin/Debug/netstandard2.0/UnityEngine.AssetBundleModule.dll
ExampleMod/bin/Debug/netstandard2.0/UnityEngine.ARModule.dll
ExampleMod/bin/Debug/netstandard2.0/UnityEngine.AnimationModule.dll
ExampleMod/bin/Debug/netstandard2.0/UnityEngine.AndroidJNIModule.dll
ExampleMod/bin/Debug/netstandard2.0/UnityEngine.AIModule.dll
ExampleMod/bin/Debug/netstandard2.0/UnityEngine.AccessibilityModule.dll
ExampleMod/bin/Debug/netstandard2.0/Unity.VisualEffectGraph.Runtime.dll
ExampleMod/bin/Debug/netstandard2.0/Unity.Timeline.dll
ExampleMod/bin/Debug/netstandard2.0/Unity.TextMeshPro.dll
ExampleMod/bin/Debug/netstandard2.0/Unity.ResourceManager.dll
ExampleMod/bin/Debug/netstandard2.0/Unity.RenderPipelines.HighDefinition.Runtime.dll
ExampleMod/bin/Debug/netstandard2.0/Unity.RenderPipelines.HighDefinition.Config.Runtime.dll
ExampleMod/bin/Debug/netstandard2.0/Unity.RenderPipelines.Core.Runtime.dll
ExampleMod/bin/Debug/netstandard2.0/Unity.Localization.dll
ExampleMod/bin/Debug/netstandard2.0/Unity.InputSystem.dll
ExampleMod/bin/Debug/netstandard2.0/Unity.Addressables.dll
ExampleMod/bin/Debug/netstandard2.0/RogueGenesia.dll
ExampleMod/bin/Debug/netstandard2.0/Newtonsoft.Json.dll
ExampleMod/bin/Debug/netstandard2.0/ModGenesia.dll
ExampleMod/bin/Debug/netstandard2.0/ExampleMod.pdb
ExampleMod/bin/Debug/netstandard2.0/ExampleMod.dll
ExampleMod/bin/Debug/netstandard2.0/ExampleMod.deps.json
ExampleMod/bin/Debug/netstandard2.0/Discord.dll
ExampleMod/bin/Debug/netstandard2.0/com.rlabrecque.steamworks.net.dll
ExampleMod/obj/Debug/netstandard2.0/ExampleMod.csproj.CoreCompileInputs.cache
